define host {
{% if target_inventory_hostname is defined %}
  host_name		{{ target_inventory_hostname }}
{% endif %}
{% for option in [ 
	'alias',
	'address',
	'max_check_attempts',
	'check_period',
	'contacts',
	'contact_groups',
	'notification_interval',
	'notification_period',
	'use',
	'display_name',
	'parents',
	'hourly_value',
	'name',
	'register',
	'icon_image',
	'statusmap_image',
	'check_command',
	'2d_coords',
	'hostgroups' ] %}
{% if option in item.keys() %}
  {{ option }}		{{ item[option] }}
{% endif %}
{% endfor %}
}
