define service {
{% if target_inventory_hostname is defined %}
  host_name		{{ target_inventory_hostname }}
{% endif %}
{% for option in [
	'service_description',
	'check_command',
	'max_check_attempts',
	'check_interval',
	'retry_interval',
	'check_period',
	'notification_interval',
	'notification_period',
	'contacts',
	'contact_groups',
	'use',
	'hostgroup_name',
	'display_name',
	'parents',
	'hourly_value',
	'servicegroups',
	'is_volatile',
	'initial_state',
	'active_checks_enabled',
	'passive_checks_enabled',
	'obsess',
	'name',
	'register',
	'action_url',
	'check_freshness' ] %}
{% if option in item.keys() %}
  {{ option }}		{{ item[option] }}
{% endif %}
{% endfor %}
}
